<!-- HAKKIMIZDA BAŞLANGIÇ -->
<div class="container-fluid mt-5" id="hakkimizda" style="padding-bottom:150px">
    <div class="container text-center">
        <div class="section-title position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Hakkımızda</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="position-relative">
                    <img class="hakkimizda-img" src="img/hakkimizda.jpg" alt="Hakkımızda Görseli">
                </div>
            </div>
            <div class="col-lg-8 mt-4">
                <div class="hakkimizda-icon-kutu">
                    <i class="fa fa-users fs-20"></i>
                </div>
                <h3>Kimiz?</h3>
                <p class="mb-4">
                    Biz, oyun sektöründe yenilikçi projelere destek sağlayan bir topluluğuz. Amacımız, yaratıcı fikirleri hayata geçirerek oyun dünyasını daha da ileriye taşımak. Oyun geliştiricileri ve yaratıcı zihinleri bir araya getirerek, sektörün geleceğine katkı sağlıyoruz. Sektördeki gelişmeleri yakından takip ediyor, en son teknolojileri projelerimize entegre ediyoruz. İşbirliği ve ortaklıklarla, projelerin hızlı ve etkili bir şekilde hayata geçmesini sağlıyoruz. Topluluğumuz, oyuncular ve geliştiriciler arasında köprü kurarak, iki tarafın da ihtiyaçlarına cevap vermeyi hedefliyor. Yaratıcı düşünceyi desteklemek, yenilikçi projelerin yeşermesine katkı sağlamak, oyun dünyasının sınırlarını genişletmek için buradayız.Misyonumuz, sadece oyun geliştirmekle sınırlı kalmıyor; aynı zamanda eğitim ve rehberlik sağlamak, yeni yetenekleri keşfetmek ve onları desteklemek için de çalışıyoruz. Geliştiricilerin projelerini daha geniş kitlelere ulaştırabilmesi için gerekli kaynakları ve araçları sunuyoruz. Oyun dünyasında kalıcı izler bırakmak, unutulmaz deneyimler yaratmak için tutkuyla çalışıyoruz. Topluluğumuz, farklı kültürlerden ve bakış açılarından gelen bireyleri bir araya getirerek, zengin ve çeşitli bir oyun ekosistemi oluşturuyor. Geleceğin oyunlarını birlikte şekillendiriyor, sektörün dinamiklerine yön veriyoruz. İnovasyonu ve sürdürülebilirliği merkeze alan yaklaşımımızla, oyun dünyasının parlak geleceğine katkıda bulunuyoruz. Bizimle birlikte bu heyecan verici yolculukta yer alın ve oyun sektöründe devrim yaratın.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- HAKKIMIZDA BİTİŞ -->
