<!-- HABERLER BAŞLANGIÇ -->
<div class="anasayfa-haberler-kapsayici" id="haberler">
	<h3 class="anasayfa-haberler-baslik">
		PROJELER
	</h3>
	<div class="anasayfa-duyurular-baslik-cizgi"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3 col-lg-3">
				<div class="anasayfa-haberler">
					<a href="#" class="link-sinifi">
						<img class="anasayfa-haberler-fotograf" src="~/img/proje-foto-1.jpg">

						<div class="tutar-bar-container">
							<div class="tutar-bar" style="width: 70%;"></div>
						</div>
						<div class="anasayfa-haberler-bilgi">
							<img class="yuvarlak-image" src="~/img/proje-foto-1.jpg"> <!-- Yuvarlak resim firma avatar logo vs için -->
							<div>
								<h3 class="anasayfa-haberler-alt-baslik">Swipe Pong</h3>
								<span class="anasayfa-haberler-aciklama">BRK Software</span>
							</div>
						</div>

						<span class="anasayfa-haberler-alt-bilgiler">
							<span class="anasayfa-haberler-hedeftutar">
								1.000.000<i class="fa fa-try fs-20"></i> Hedef Fon
							</span>

							<span class="anasayfa-haberler-tarih">
								<i class="fa fa-clock-o fs-20"></i> 5 Gün kaldı
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 col-lg-3">
				<div class="anasayfa-haberler">
					<a href="#" class="link-sinifi">
						<img class="anasayfa-haberler-fotograf" src="~/img/proje-foto-2.jpg">
					
						<div class="tutar-bar-container">
							<div class="tutar-bar" style="width: 30%;"></div>
						</div>
						<div class="anasayfa-haberler-bilgi">
							<img class="yuvarlak-image" src="~/img/proje-foto-2.jpg"> <!-- Yuvarlak resim firma avatar logo vs için -->
						<div>
							<h3 class="anasayfa-haberler-alt-baslik">Sons of Forest</h3>
							<span class="anasayfa-haberler-aciklama">Ubisoft</span>
						</div>
						</div>
						<span class="anasayfa-haberler-alt-bilgiler">
							<span class="anasayfa-haberler-hedeftutar">
								500.000<i class="fa fa-try fs-20"></i> Hedef Fon
							</span>

							<span class="anasayfa-haberler-tarih">
								<i class="fa fa-clock-o fs-20"></i> 5 Gün kaldı
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 col-lg-3">
				<div class="anasayfa-haberler">
					<a href="#" class="link-sinifi">
						<img class="anasayfa-haberler-fotograf" src="~/img/proje-foto-3.jpg">
					
						<div class="tutar-bar-container">
							<div class="tutar-bar" style="width: 80%;"></div>
						</div>
						<div class="anasayfa-haberler-bilgi">
							<img class="yuvarlak-image" src="~/img/proje-foto-3.jpg"> <!-- Yuvarlak resim firma avatar logo vs için -->
							<div>
								<h3 class="anasayfa-haberler-alt-baslik">Tetris 3d Adventure</h3>
								<span class="anasayfa-haberler-aciklama">King Soft</span>
							</div>
						</div>
						<span class="anasayfa-haberler-alt-bilgiler">
							<span class="anasayfa-haberler-hedeftutar">
								900.000<i class="fa fa-try fs-20"></i> Hedef Fon
							</span>

							<span class="anasayfa-haberler-tarih">
								<i class="fa fa-clock-o fs-20"></i> 5 Gün kaldı
							</span>
						</span>
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 col-lg-3">
				<div class="anasayfa-haberler">
					<a href="#" class="link-sinifi">
						<img class="anasayfa-haberler-fotograf" src="~/img/proje-foto-2.jpg">

						<div class="tutar-bar-container">
							<div class="tutar-bar" style="width: 50%;"></div>
						</div>
						<div class="anasayfa-haberler-bilgi">
							<img class="yuvarlak-image" src="~/img/proje-foto-3.jpg"> <!-- Yuvarlak resim firma avatar logo vs için -->
							<div>
								<h3 class="anasayfa-haberler-alt-baslik">Tree of Lord</h3>
								<span class="anasayfa-haberler-aciklama">KS Entertainment</span>
							</div>
						</div>
						<span class="anasayfa-haberler-alt-bilgiler">
							<span class="anasayfa-haberler-hedeftutar">
								150.000<i class="fa fa-try fs-20"></i> Hedef Fon
							</span>

							<span class="anasayfa-haberler-tarih">
								<i class="fa fa-clock-o fs-20"></i> 5 Gün kaldı
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<button class="tumunu-gor-buton"><a href="<?php echo base_url() ?>haberler">Tüm Projeler</a></button>
	</div>
</div>
<!-- HABERLER BİTİŞ -->
<!-- DUYURULAR VE ETKİNLİKLER BAŞLANGIÇ -->

<div class="anasayfa-duyurular-kapsayici" id="duyurular-etkinlikler">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<h3 class="anasayfa-duyurular-baslik">
					DUYURULAR
				</h3>
				<div class="anasayfa-duyurular-baslik-cizgi"></div>
				<div class="anasayfa-duyurular">
					<?php foreach($duyurular as $row) : ?>
					<a href="<?php echo base_url() ?>duyurular/duyuru/<?php echo $row->id; ?>">
						<div class="anasayfa-duyurular-duyuru">
							<div class="anasayfa-duyurular-duyuru-tarih">
								<span class="anasayfa-duyurular-duyuru-tarih-tarih-gun">13</span>
								<span class="anasayfa-duyurular-duyuru-tarih-tarih-ay">Kas</span>
							</div>
							<h3 class="anasayfa-duyurular-duyuru-baslik">duyuruBaslik</h3>
						</div>
					</a>
					<?php endforeach; ?>
				</div>
				<button class="tumunu-gor-buton"><a href="<?php echo base_url() ?>duyurular">Tüm Duyuruları Gör</a></button>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6">
				<h3 class="anasayfa-duyurular-baslik">
					ETKİNLİKLER
				</h3>
				<div class="anasayfa-duyurular-baslik-cizgi"></div>
				<div class="anasayfa-etkinlikler">
					<?php foreach ($etkinlikler as $row): ?>
					<a href="<?php echo base_url() ?>etkinlikler/etkinlik/<?php echo $row->id; ?>">
						<div class="anasayfa-etkinlikler-etkinlik">
							<div class="anasayfa-etkinlikler-etkinlik-tarih">
								<span class="anasayfa-etkinlikler-etkinlik-tarih-tarih-gun">13</span>
								<span class="anasayfa-etkinlikler-etkinlik-tarih-tarih-ay">Kas</span>
							</div>
							<h3 class="anasayfa-etkinlikler-etkinlik-baslik"><?php echo $row->EtkinlikBaslik</h3>
						</div>
					</a>
					<?php endforeach; ?>
				</div>
				<button class="tumunu-gor-buton"><a href="<?php echo base_url() ?>etkinlikler">Tüm Etkinlikleri Gör</a></button>
			</div>
		</div>
	</div>
</div>

<!-- DUYURULAR VE ETKİNLİKLER BİTİŞ -->
<!-- DÜSTATİSTİK BAŞLANGIÇ -->

<div class="dustatistik-kapsayici">
	<h3 class="dustatistik-baslik">SAYILARLA FONİSTE</h3>
	<div class="dustatistik-baslik-cizgi"></div>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 dustatistik-ikonlar-kapsayici">
				<i class="fa fa-users dustatistik-ikonlar"></i>
				<span class="dustatistik-sayilar count">150,000</span>
				<span class="dustatistik-aciklama">KAYITLI ÜYE</span>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 dustatistik-ikonlar-kapsayici">
				<i class="fa fa-try dustatistik-ikonlar"></i>
				<span class="dustatistik-sayilar count">1,000,000</span>
				<span class="dustatistik-aciklama">YATIRIM TUTARI</span>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 dustatistik-ikonlar-kapsayici">
				<i class="fa fa-building dustatistik-ikonlar"></i>
				<span class="dustatistik-sayilar count">115</span>
				<span class="dustatistik-aciklama">GİRİŞİM SAYISI</span>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 dustatistik-ikonlar-kapsayici">
				<i class="fa fa-trophy dustatistik-ikonlar"></i>
				<span class="dustatistik-sayilar count">1,482</span>
				<span class="dustatistik-aciklama">PROJE SAYISI</span>
			</div>
		</div>
	</div>
</div>
<!-- DÜSTATİSTİK BİTİŞ -->
<!-- Features Start -->
<div class="container-fluid">
	<div class="container">
		<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
			<h5 class="fw-bold text-primary text-uppercase">Fon İste Ekibi</h5>
			<h1 class="mb-0">Birlikte Büyüyoruz, Projeleri Destekleyin!</h1>
		</div>
		<div class="row g-5">
			<div class="col-lg-4">
				<div class="row g-5">
					<div class="col-12 ">
						<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
							<i class="fa fa-cubes text-white"></i>
						</div>
						<h4>Paya Dayalı Kitle Fonlama</h4>
						<p class="mb-0">
							Girişimcilerle yatırımcıların buluştuğu platform.
							Her türlü yatırımcının istediği tutarla tamamen dijital mecradan yüksek büyüme potansiyeli olan girişimlere yatırım yaparak ortak olmalarını; girişimlerin ise aradıkları
						</p>
					</div>
					<div class="col-12 ">
						<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
							<i class="fa fa-award text-white"></i>
						</div>
						<h4>Ödül Bazlı Kitle Fonlama</h4>
						<p class="mb-0">Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam dolor</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4" style="min-height: 350px;">
				<div class="position-relative h-100">
					<img class="position-absolute w-100 h-100 rounded " src="img/tanıtım.jpg" style="object-fit: cover;">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row g-5">
					<div class="col-12 ">
						<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
							<i class="fa fa-users-cog text-white"></i>
						</div>
						<h4>Oyun Sektöründe Startuplara ortak olmanızı sağlar.</h4>
						<p class="mb-0">Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam dolor</p>
					</div>
					<div class="col-12 ">
						<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
							<i class="fa fa-phone-alt text-white"></i>
						</div>
						<h4>Developerlar için artık bir hayal değil</h4>
						<p class="mb-0">Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam dolor</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Features Start -->
<!-- PAYDAŞLARIMIZ BAŞLANGIÇ -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
	<h3 class="dustatistik-baslik">PAYDAŞLARIMIZ</h3>
	<div class="dustatistik-baslik-cizgi"></div>
	<div class="container py-5 mb-5">
		<div class="bg-white">
			<div class="owl-carousel vendor-carousel">
				<img src="img/vendor-1.jpg" alt="">
				<img src="img/vendor-2.jpg" alt="">
				<img src="img/vendor-3.jpg" alt="">
				<img src="img/vendor-4.jpg" alt="">
				<img src="img/vendor-5.jpg" alt="">
				<img src="img/vendor-6.jpg" alt="">
				<img src="img/vendor-7.jpg" alt="">
				<img src="img/vendor-8.jpg" alt="">
				<img src="img/vendor-9.jpg" alt="">
			</div>
		</div>
	</div>
</div>
<!-- PAYDAŞLARIMIZ BİTİŞ -->


<div class="du-yardim">
	<h3 class="du-yardim-baslik">Yardıma mı ihtiyacınız var?</h3>
	<div class="du-yardim-buton"><a href="#">İletişime Geçin</a></div>
</div>