<!-- MİSYONUMUZ BAŞLANGIÇ -->
<head>
    <link rel="stylesheet" href="~/css/mission.css">
</head>


<div class="container-fluid mt-5" id="misyonumuz" style="padding-bottom:150px">
    <div class="container text-center">
        <div class="section-title position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Misyonumuz</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="position-relative">
                    <img class="misyonumuz-img" src="img/misyonumuz.jpg" alt="Misyonumuz Görseli">
                </div>
            </div>
            <div class="col-lg-8 mt-4">
                <div class="misyonumuz-icon-kutu">
                    <i class="fa fa-bullseye fs-20"></i>
                </div>
                <h3>Misyonumuz</h3>
                <p class="mb-4">
                    Misyonumuz, oyun sektöründe inovasyon ve mükemmeliyet standartlarını belirleyen lider bir topluluk olmaktır. Amacımız, oyun geliştirme süreçlerinde en yeni teknolojileri ve yaratıcı çözümleri kullanarak, oyunculara unutulmaz deneyimler sunmaktır. Bu hedef doğrultusunda, global çapta oyun geliştiricileri ve yaratıcı zihinleri bir araya getirerek işbirliği yaparız.

                    Geliştiricilere, sanatçılara ve tasarımcılara ilham vererek, onların yaratıcı potansiyellerini en üst seviyeye çıkarmayı hedefliyoruz. Yenilikçi projelere destek sağlayarak, oyun dünyasında devrim yaratacak fikirleri hayata geçiriyoruz. Eğitim ve rehberlik programları ile yeni nesil oyun geliştiricilerini destekleyerek, sektörde sürdürülebilir büyümeyi teşvik ediyoruz.

                    Oyun dünyasında kalıcı izler bırakmayı, teknolojiyi ve sanatı birleştirerek geleceğin oyunlarına yön vermeyi amaçlıyoruz. Topluluğumuz, oyun dünyasında çeşitliliği ve kapsayıcılığı teşvik ederek, farklı kültürlerden ve bakış açılarından gelen bireyleri bir araya getirir. Bu sayede, zengin ve çeşitli bir oyun ekosistemi oluşturuyoruz.

                    Misyonumuz, sadece oyun geliştirmekle sınırlı kalmıyor; aynı zamanda, oyun geliştiricilerinin projelerini daha geniş kitlelere ulaştırabilmeleri için gerekli kaynakları ve araçları sunuyoruz. Oyun dünyasının sınırlarını genişletmek ve oyuncular ile geliştiriciler arasında sağlam köprüler kurmak için buradayız. Eğitim ve rehberlik programlarımızla, yeni yetenekleri keşfetmek ve onları desteklemek için çalışıyoruz.

                    Geleceğin oyunlarını birlikte şekillendirmek ve sektörde kalıcı izler bırakmak için tutkuyla çalışıyoruz. Teknoloji ve yaratıcılığı bir araya getirerek, oyun dünyasında devrim yaratacak yenilikçi çözümler sunmayı sürdürüyoruz. Misyonumuz, oyun dünyasının parlak geleceğine katkıda bulunarak, unutulmaz deneyimler yaratmak ve sektörde lider bir topluluk olarak varlığımızı sürdürmektir.

                    Yenilikçi düşünceyi desteklemek, yaratıcı projelerin yeşermesine katkı sağlamak ve oyun dünyasında sınırları zorlayan projelere imza atmak için buradayız. Eğitim ve rehberlik programlarımızla, oyun geliştiricilerinin potansiyellerini en üst seviyeye çıkarmayı hedefliyoruz. Misyonumuz, teknoloji ve sanatı bir araya getirerek, oyun dünyasında devrim yaratacak projeler sunmaktır.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- MİSYONUMUZ BİTİŞ -->