<!-- TANITIM BAŞLANGIÇ -->
<div class="container-fluid mt-5" id="tanitim">
	<div class="container">
		<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
			<h1 class="mb-0">Birlikte Büyüyoruz,Oyun projelerini Destekleyin!</h1>
		</div>
		<div class="row g-5">
			<div class="col-lg-4">
				<div class="row g-5">
					<div class="col-12 ">
						<div class="tanıtım-icon-kutu">
							<i class="fa fa-cubes fs-20"></i>
						</div>
						<h3>Paya Dayalı Kitle Fonlama</h3>
						<p class="mb-0">
							Girişimcilerle yatırımcıların buluştuğu platform.
							Her türlü yatırımcının istediği tutarla tamamen dijital
							mecradan yüksek büyüme potansiyeli olan girişimlere yatırım
							yaparak ortak olmalarını; girişimlerin ise aradıkları
						</p>
					</div>
					<div class="col-12 ">
						<div class="tanıtım-icon-kutu">
							<i class="fa fa-trophy fs-20"></i>
						</div>
						<h3>Ödül Bazlı Kitle Fonlama</h3>
						<p class="mb-0">
							Ürün ve hizmetlerin kitleye ön satışıyla projelerin fonlanmasını sağlar.
							Destekçilerin ise piyasada olmayan ürün ve hizmetlerin ön alımını yaparak hayallerin gerçekleşmesini sağlar.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4" style="min-height: 350px;">
				<div class="position-relative h-100">
					<img class="tanıtım-img" src="img/tanıtım.jpg" style="object-fit: cover;">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row g-5">
					<div class="col-12 ">
						<div class="tanıtım-icon-kutu">
							<i class="fa fa-gamepad fs-20"></i>
						</div>
						<h3>Oyun girişimlerine ortak olmanızı sağlar.</h3>
						<p class="mb-0">
							Oyun sektörü, yenilikçi fikirler ve yaratıcı projelerle dolu dinamik
							bir alan olarak öne çıkıyor. Bu alanda faaliyet gösteren şirketler, teknolojinin
							sınırlarını zorlayarak kullanıcı deneyimini sürekli geliştirmeye odaklanıyor.
						</p>
					</div>
					<div class="col-12 ">
						<div class="tanıtım-icon-kutu">
							<i class="fa fa-play fs-20"></i>
						</div>
						<h3>Gerçekleştirmek bir hayal değil</h3>
						<p class="mb-0">
							Startup’lar, yenilikçi fikirleri ve teknolojileri piyasaya sürerek
							endüstrilerde dönüşüm yaratma potansiyeline sahiptir. Bu girişimler, esnek
							yapıları ve hızlı karar alma süreçleri sayesinde pazarın ihtiyaçlarına çabuk
							yanıt verebilirler.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- TANITIM BİTİŞ -->