@model Foniste.Models.Accounts.UserAuth

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="login-container">
        <form asp-action="Signin" class="login-form" method="post">
            <h2>Kayıt Ol</h2>
            <!--<div class="oto-kayıt-seçenekler">
                <a href="#"><img src="~/img/giris-google.png" alt="Google" class="oto-kayıt-logo"></a>
                <a href="#"><img src="~/img/giris-github.png" alt="GitHub" class="oto-kayıt-logo"></a>
                <a href="#"><img src="~/img/giris-linkedin.png" alt="LinkedIn" class="oto-kayıt-logo"></a>
            </div>  
            <div class="oto-kayıt-seçenekler">
				<div class="oto-kayıt-cizgi"></div>
				<div class="oto-kayıt-baslık">Ve Ya</div>
				<div class="oto-kayıt-cizgi"></div>
            </div>-->
            <div class="form-group">
                <label for="email"><i class="fa fa-envelope"></i> E-mail</label>
                <input asp-for ="Email" type="Email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password"><i class="fa fa-lock"></i> Şifre</label>
                <input asp-for="Password" type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password_repeat"><i class="fa fa-lock"></i> Şifre Tekrarı</label>
                <input asp-for="Password" type="password" id="password_repeat" name="password_repeat" required>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="kvk" name="kvk" required>
                <p class="register-link">Kvkk kapsamında<a href="/signin">Sözleşmeyi</a> onaylıyorum.</p>
                
            </div>
            <button type="submit">Kayıt Ol</button>
            <p class="register-link">Zaten hesabınız var mı? <a href="/signin">Giriş Yap</a></p>
        </form>
    </div>
</body>
