   <!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <!-- Başlık -->
        <h3 class="ekibimiz-baslik">EKİBİMİZ</h3>
        <div class="ekibimiz-baslik-cizgi"></div>
        <!-- Takım Üyeleri -->
        <div class="row g-5">
            <!-- Takım Üye 1 -->
            <div class="col-lg-6 d-flex justify-content-center">
                <div class="team-item bg-light overflow-hidden">
                    <div class="team-img position-relative overflow-hidden" >
                        <!-- Üye 1 Resmi -->
                        <img class="img w-100" src="img/team-2.jpg" alt="">
                        <div class="team-social">
                            <!-- Sosyal Medya Bağlantıları -->
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fa fa-github"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fa fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!-- Üye 1 Bilgileri -->
                    <div class="text-center py-4">
                        <h4 class="text-primary">Melih Yıldız</h4>
                        <p class="text-uppercase m-0">Full Stack Developer</p>
                    </div>
                </div>
            </div>
            <!-- Takım Üye 2 -->
            <div class="col-lg-6 d-flex justify-content-center">
                <div class="team-item bg-light overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <!-- Üye 2 Resmi -->
                        <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                        <div class="team-social">
                            <!-- Sosyal Medya Bağlantıları -->
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fa fa-github"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fa fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!-- Üye 2 Bilgileri -->
                    <div class="text-center py-4">
                        <h4 class="text-primary">Melih YILDIZ</h4>
                        <p class="text-uppercase m-0">Full Stack Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team End -->