<!-- VİZYONUMUZ BAŞLANGIÇ -->
<head>
    <link rel="stylesheet" href="~/css/vision.css">
</head>

<div class="container mt-5" id="vizyonumuz" style="padding-bottom:150px">
    <div class="container text-center">
        <div class="section-title position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Vizyonumuz</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="position-relative">
                    <img class="vizyonumuz-img" src="img/tanıtım.jpg" alt="Vizyonumuz Görseli">
                </div>
            </div>
            <div class="col-lg-8 mt-4">
                <div class="vizyonumuz-icon-kutu">
                    <i class="fa fa-lightbulb fs-20"></i>
                </div>
                <h3>Vizyonumuz</h3>
                <p class="mb-4">
                    Vizyonumuz, oyun sektöründe öncü ve yenilikçi bir topluluk olarak, dünya genelinde yaratıcı fikirlerin merkezi olmaktır. Oyun geliştirme süreçlerinde en ileri teknolojileri kullanarak, oyunculara benzersiz ve unutulmaz deneyimler sunmak. Farklı kültürler ve bakış açılarını bir araya getirerek, çeşitlilik ve kapsayıcılığı teşvik eden projelere imza atmak. Geliştiricilere, sanatçılara ve tasarımcılara ilham vererek, onların potansiyellerini en üst düzeye çıkarmak ve oyun dünyasında devrim yaratacak yenilikçi çözümler sunmak. Eğitim ve rehberlik programlarıyla, yeni nesil oyun geliştiricilerini destekleyerek, sektörün sürdürülebilir büyümesine katkı sağlamak. Topluluğumuzla birlikte, oyun dünyasının sınırlarını sürekli olarak genişletmek ve geleceğin oyunlarını şekillendirmek. Oyuncular ve geliştiriciler arasında sağlam köprüler kurarak, her iki tarafın da beklentilerini aşan projeler ortaya koymak. Vizyonumuz, oyun dünyasında kalıcı izler bırakmak, teknolojiyi ve sanatı birleştirerek, geleceğin oyunlarına yön vermektir.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- VİZYONUMUZ BİTİŞ -->